@charset "UTF-8";

/* すべてのwebページに適用される */
/*文字色、背景色など*/
* {
	font-family: "Tahoma";
	color:#001858;
	background-color:#fef6e4;
}





/* ヘッダー（メニューバー）*/
nav{
text-align: center;
font-weight: bold;
margin-left: 100px;
}
nav ul{
margin-top: 25px;
margin-right: 100px;
padding: 0 ;
display:flex;
}
nav ul li{
list-style: none;
display: inline-block;
width: 100%;
min-width: 10px;
}
nav ul li a{
text-decoration: none;
color: #001858;
}
nav ul li a:hover{
color: #8bd3dd;
}

li + li {
  border-left: 1px solid #000;
}