@charset "UTF-8";

/* すべてのwebページに適用される */
/*文字色、背景色など*/
* {
	font-family: "Tahoma";
	color:#001858;
	background-color:#fef6e4;
}

/* firstページで適用される */
body.first{
	width:960px;
	margin-right:auto;
	margin-left:auto;
}

/*(後で）ログイン画面の入力、背景色変えたい*/
div.login{
	width:500px;
	background-color:#f3d2c1;

}


/* ヘッダー（メニューバー）*/
nav{
text-align: center;
font-weight: bold;
margin-left: 100px;
}
nav ul{
margin-top: 25px;
margin-right: 100px;
padding: 0 ;
display:flex;
}
nav ul li{
list-style: none;
display: inline-block;
width: 100%;
min-width: 10px;
}
nav ul li a{
text-decoration: none;
color: #001858;
}
nav ul li a:hover{
color: #8bd3dd;
}

li + li {
  border-left: 1px solid #000;
}




/*submitボタンデザイン*/
input[type="submit"]{
  display       : inline-block;
  color			: #fef6e4;
  background-color: #001858;
  border-radius : 5%;          /* 角丸       */
  font-size     : 12pt;        /* 文字サイズ */
  text-align    : center;      /* 文字位置   */
  padding       : 12px 18px;   /* 余白       */
  line-height   : 1em;         /* 1行の高さ  */
}