@charset "UTF-8";

/* すべてのFirstWebページに適用される */
/*文字色、背景色など*/
* {
	font-family: "Tahoma";
	color:#001858;
	background-color:#fef6e4;
	/*outline:1px solid #ff0000;*/
}

/*マウスが乗った時の色*/
a:hover{
	color: #8bd3dd;
}

/*位置調整*/
h1{
	text-align:center;
}
div.logo_bear{
	position: relative;
	top: 5px;
	left:490px;
	width:400px;
}

/* 全体の中央寄せ */
body{
	margin: 0 auto 0 auto;
	max-width: 1300px;
}

/*ピンクのところを中央寄せ*/
div.first{
	margin: 0 auto 0 auto;
	width:800px;
	height:370px;
}

/*タイトル文字など*/
h1{
	margin-top:40px;
	font-weight: normal;
}

h4{
	text-align:center;
}

p{
	text-align:center;
}

/*loginボタン*/
table#login{
	position: relative;
	top: 48px;
	left:590px;
	border-spacing:0,10;
}

/*プロフィール新規作成のボタン*/
table#login2{
	position: relative;
	top: -38px;
	left:590px;
	border-spacing:0,10;
}

table.first{
	margin: 0 auto 0 auto;
	position: relative;
	top: 20px;
}
/*テーブルの間隔*/
table.first td{
	padding: 10px;
}


/*ピンクの枠*/
div.pink{
	border: 30px solid #f3d2c1;
	height: 300px;     /* 高さを制限(※) */
   	overflow: auto;  /* スクロールバーを表示(※) */
}

/*スクロールバーの装飾*/
div.pink::-webkit-scrollbar {
  width: 12px;
}
div.pink::-webkit-scrollbar-track {
  background: #f3d2c1;
  border-radius: 10px;
}
div.pink::-webkit-scrollbar-thumb {
  background: #001858;
  border-radius: 10px;
}

div.pink,form,a,h4,td,table,label,input,textarea,p{
	background-color: #f3d2c1;
}

/*submitボタンデザイン*/
input[type="submit"]{
  display       : inline-block;
  color			: #fef6e4;
  background-color: #001858;
  border-radius : 5%;          /* 角丸       */
  font-size     : 12pt;        /* 文字サイズ */
  text-align    : center;      /* 文字位置   */
  padding       : 12px 18px;   /* 余白       */
  line-height   : 1em;         /* 1行の高さ  */
}

input[type="submit"]:hover{
  background-color: #8bd3dd;
}



/*投稿フォームデザイン*/
/* 配置やサイズを整える */

label {
    margin-right: 10px;
    font-size:18px
}

/* ログイン・アカウント新規登録ページ*/
form.la input[type="text"],form.la input[type="password"]{
	width:300px;
	color: #001858;
  	padding: 0.5em;
  	border-bottom:1.5px solid #001858;
	border-right:none;
	border-left:none;
	border-top:none;
	border-radius:0px;
	font-size:18px;
}


/* 新規プロフィール登録ページ */
/* 趣味・自己紹介文 */
textarea{
	width:350px;
	color: #001858;
  	padding: 0.5em;
  	border-bottom:1.5px solid #001858;
	font-size:18px;
	resize:none;
}
/* その他プロフィール */
input[name="name"],input[name="nickname"],input[name="birthplace"],
input[name="company"],input[name="birth"],input[name="school"]{
	width:350px;
	color: #001858;
  	padding: 0.5em;
  	border-bottom:1.5px solid #001858;
	border-right:none;
	border-left:none;
	border-top:none;
	border-radius:0px;
	font-size:18px;
}



