@charset "UTF-8";

/* すべてのFirstWebページに適用される */
/*文字色、背景色など*/
* {
	font-family: "Tahoma";
	color:#001858;
	background-color:#fef6e4;
	/*outline:1px solid #ff0000;*/
}

h1,div.logo_bear{
	text-align:center;

}
/* （未解決）bodyクラス『first』で適用される */
/* 全体の中央寄せ */

body.first{
	margin: 0 auto 0 auto;
	max-width: 960px;
}


/*ピンクの背景色付けたい*/
div.first,form,h4,a,table,tr,td{
	width:500px;
	background-color:#f3d2c1;
	font-size:16px;
}
div.first{
	margin: 0 auto 0 auto;

}
/*submitボタンデザイン*/
input[type="submit"]{
  display       : inline-block;
  color			: #fef6e4;
  background-color: #001858;
  border-radius : 5%;          /* 角丸       */
  font-size     : 12pt;        /* 文字サイズ */
  text-align    : center;      /* 文字位置   */
  padding       : 12px 18px;   /* 余白       */
  line-height   : 1em;         /* 1行の高さ  */
}


/* ページごと */
/*（未解決）投稿フォームデザイン*/
/* 配置やサイズを整える */


/* ログイン・アカウント新規登録ページ*/
form.la input[type="text"],form.la input[type="password"]{
	width:350px;
	color: #001858;
	background-color:#f3d2c1;
  	padding: 0.5em;
  	border-bottom:1.5px solid #001858;
	border-right:none;
	border-left:none;
	border-top:none;
	border-radius:0px;
	font-size:16px;
}


/* 新規プロフィール登録ページ */
/* 自己紹介文 */
input[name="intro"]{
	width:350px;
	height:150px;
	color: #001858;
	background-color:#f3d2c1;
  	padding: 0.5em;
  	border-bottom:1.5px solid #001858;
	font-size:16px;
}
/* その他プロフィール */
input[name="name"],input[name="nickname"],input[name="birthplace"],
input[name="company"],input[name="birth"],input[name="school"],
input[name="hobby"]{
	width:350px;
	color: #001858;
	background-color:#f3d2c1;
  	padding: 0.5em;
  	border-bottom:1.5px solid #001858;
	border-right:none;
	border-left:none;
	border-top:none;
	border-radius:0px;
	font-size:16px;
}



