div.cp_menu {
	max-width:600px;
}

label.cp_menu_bar1 {
	content:"▲";
	display:block;
    margin: 0 0 2px 0;
    padding : 0;
    line-height: 1;
    cursor :pointer;
}

input[type="checkbox"] {
   opacity: 0;
}
label.cp_menu_bar1:after {
	content:"▼";
	font-size:20px;
	margin:0;
}
.f_list  ul {
    margin: 0;
    padding: 0;
}

.f_list  li {
    height: 0;
	overflow: hidden;
	-webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

#menu_bar1:checked ~ #link1 li{
	content:"▲";
    height: 60px;
    opacity: 1;
}
textarea.textarea {
	text-align:center;
	margin: 0 0 10px;
}


label.cp_menu_bar2 {
	content:"▲";
	display:block;
    margin: 0 0 2px 0;
    padding : 0;
    line-height: 1;
    cursor :pointer;
}
label.cp_menu_bar3 {
	content:"▲";
	display:block;
    margin: 0 0 2px 0;
    padding : 0;
    line-height: 1;
    cursor :pointer;
}
label.cp_menu_bar4 {
	content:"▲";
	display:block;
    margin: 0 0 2px 0;
    padding : 0;
    line-height: 1;
    cursor :pointer;
}
label.cp_menu_bar2:after {
	content:"▼";
	font-size:20px;
	margin:0;
}label.cp_menu_bar3:after {
	content:"▼";
	font-size:20px;
	margin:0;
}label.cp_menu_bar4:after {
	content:"▼";
	font-size:20px;
	margin:0;
}
#menu_bar2:checked ~ #link1 li{
	content:"▲";
    height: 60px;
    opacity: 1;
}#menu_bar3:checked ~ #link1 li{
	content:"▲";
    height: 60px;
    opacity: 1;
}#menu_bar4:checked ~ #link1 li{
	content:"▲";
    height: 60px;
    opacity: 1;
}
