@charset "UTF-8";

/* このCSSの上書き */
.bigth {
	max-width: 100%;
}
img {
	max-width: 100%;
}

/* ドロワーのナビゲーション */
/*参加者一覧を表示する枠組み*/


/* 閉じる開くアクション */
#nav {
	transition: transform 0 0.3s;
}