@charset "UTF-8";

/* このCSSの上書き */
.content {
	max-width: 100%;
}
img {
	max-width: 100%;
}

/* ドロワーのナビゲーション */
#nav {
	position: fixed;
	right: -270px;
	top: 0;
	width: 270px;
	height: 100%
}

/* ドロワーが開かれた時のスタイル */
.show {
	transform: translate3d(-270px, 0, 0);
}

/* 閉じる開くアクション */
#wrapper, #nav {
	transition: transform 0 0.3s;
}