@charset "UTF-8";
html * {
	box-sizing:border-box;
	/*outline:1px solid #ff0000;*/
}
h2{
	background-color:#f3d2c1;
	margin:20px  40px;
	font-size: 160%;
}

/*大きい枠*/
div.bigrm{
	display:inline-block;
	background-color:#f3d2c1;
	height:520px;
	width:950px;
	margin:25px 0 0 25px;
}
form{
	border:1.5px solid #001858;
}
/*新規作成画面と編集画面のform*/
form.rm {
	float:center;
	margin:0 40px;
	height:400px;
	border:none;
}
/*検索画面のform*/
form.rm2 {
	float:center;
	margin:0 40px 0 0;
	width:820px;
	height:80px;
	border:none;
}
/*記入欄*/
input[name="room_name"],input[name="room_comment"]{
	width:700px;
	color: #001858;
  	padding: 0.5em;
  	border-bottom:1.5px solid #001858;
	font-size:16px;
	margin:0 40px;
}

/* mypageのプロフィール編集*/
/*記入欄の装飾*/
input.mypage1{
	width:300px;
	color: #001858;
  	padding: 0.5em;
  	border-bottom:1.5px solid #001858;
	font-size:16px;
	border-right:none;
	border-left:none;
	border-top:none;
	margin-right:30px;
}

textarea.mypage1{
	width:300px;
	color: #001858;
  	padding: 0.5em;
  	border-bottom:1.5px solid #001858;
	font-size:16px;
	resize:none;
}
/*記入欄全体の位置調整*/
table.mypage1{
	position:relative;
	top:10px;
	left:120px;
}

/*テーブルの間隔*/
table.mypage1 td{
	padding: 5px;
}
/*文字の大きさ*/
label.mypage1{
	font-size:14px;
}
/*更新ボタンの位置調整*/
input.mypage2{
	position:relative;
	top:10px;
	left:660px;
}

/*新規作成、編集画面のラベル*/
label.label0 {
	margin:0 40px;
}
/*検索画面のラベル*/
label.label1 {
	font-size:18px;
	margin:0 40px;
}
/*検索画面のラベル(説明文)*/
label.label2 {
	display:inline-block;
	margin:0 40px ;
	font-size:16px;
}
/*検索画面のリスト*/
ul.rmul {
	width:860px;
	height: 400px;     /* 高さを制限(※) */
	margin:0 0 0 40px;
   	overflow: auto;  /* スクロールバーを表示(※) */

}
/*スクロールバーの装飾*/
ul.rmul::-webkit-scrollbar {
  width: 12px;
}
ul.rmul::-webkit-scrollbar-track {
  background: #f3d2c1;
  border-radius: 10px;
}
ul.rmul::-webkit-scrollbar-thumb {
  background: #001858;
  border-radius: 10px;
}

li.rmli{
	background-color:#f3d2c1;
	list-style-type:none;

}
/*submitボタン*/
div.submit {
	width:450px;
	text-align:right;
	position: relative;
	top: 20px;
	left:290px;
}
/*検索結果画面のsubmitボタン*/
div.submit2 {
	float:right;
	margin:0 5px 0 0;
}
/*一言で説明の記入欄*/
input.ex {
	height:100px;
}

/*ルーム編集*/
table.room_ps{
	position: relative;
	top: 50px;
	left:50px;
}
