@charset "UTF-8";

*{
	/*outline:1px solid #ff0000;*/
}
/*検索バー調整*/
td{
	padding: 10px;
}
input[type="search"]{
	width		  :350px;
	height		  :40px;
	font-size     :18px;
	border        :3px solid #001858;
}

/* 自己紹介文 */
textarea{
	width:250px;
	color: #001858;
  	padding: 0.5em;
  	border-bottom:1.5px solid #001858;
	font-size:14px;
	resize:none;
}

/* その他プロフィール */
input[name="name"],input[name="nickname"],input[name="birthplace"],
input[name="company"],input[name="birth"],input[name="school"]{
	width:250px;
	color: #001858;
  	padding: 0.5em;
  	border-bottom:1.5px solid #001858;
	border-right:none;
	border-left:none;
	border-top:none;
	border-radius:0px;
	font-size:14px;
}