@charset "UTF-8";

html * {
	box-sizing:border-box;
	/*outline:1px solid #ff0000;*/
}

/*チャット画面*/
h2.r_name{
	float:left;
	margin:10px 20px;
}
div.bigth {
	background-color:#f3d2c1;
	display:inline-block;
	height:520px;
	width:950px;
	margin:25px 0 0 25px;
}
/*チャット画面のテキスト入力*/
input.ctext{
	height:40px;
	width:860px;
	margin:5px;
}
/*テキスト入力と送信ボタン*/
form.chat {
	background-color:#f3d2c1;
	border:none;
}
/*チャット画面のトーク画面？*/
div.mainchat {
	background-color:#f3d2c1;
	height:400px;
	width:770px;
	margin:0 0 20px 0; /*チャット画面とテキスト入力の間を開ける*/
	 overflow: auto;  /* スクロールバーを表示(※) */
}
/*スパナとハンバーガーボタンを囲むdiv*/
div.shdiv {
	margin:0 0 0 840px; /**/
	background-color:#f3d2c1;
}
/*スパナの設定マーク*/
.supana {
	display:inline-block;
	width:50px;
	height:50px;
	background-color:#f3d2c1;
}
/*ハンバーガーボタン*/
.ham {
	display:inline-block;
	width:50px;
	height:50px;
	background-color:#f3d2c1;
}
/*トーク履歴の表示*/
ul.talk {
	clear:both;
	width:720px;
	height:400px;
	list-style-type:none;
	display:inline-block;
	margin:5px 0 0 10px;
	padding:0;
}
/*チャット履歴の文章*/
li.mintalk {
	margin:20px 0 0 10px;
}
/*if文を使って自分の打ったチャットだけ色を変える*/
/*li.mintalk{
	color:#8bd3dd;
}*/
/*参加者一覧を表示する枠組み*/
div.content {
	float:right;
	height:400px;
	width:170px;
	margin:5px 5px;
}
/*スクロールバーの装飾*/
div.mainchat::-webkit-scrollbar,div.kingpink::-webkit-scrollbar {
  width: 12px;
}
div.mainchat::-webkit-scrollbar-track,div.kingpink::-webkit-scrollbar-track {
  background: #f3d2c1;
  border-radius: 10px;
}
div.mainchat::-webkit-scrollbar-thumb,div.kingpink::-webkit-scrollbar-thumb {
  background: #001858;
  border-radius: 10px;
}

/*ここからは違うページの装飾*/

div.kingpink {
	clear:both;
	background-color:#f3d2c1;
	height:440px;
	width:1290px;
	overflow: auto;
}

/*ページタイトル*/
h2.mypage,h2.r_name {
	background-color:#f3d2c1;
	clear:both;
	display:inline-block;
}
h2.ps {
	clear:both;
	float:left;
	margin:0 0 5px 5px;
}

input[type="search"]{
	width		  :350px;
	height		  :40px;
	font-size     :18px;
	border        :3px solid #001858;
}
table.Third {
	display:inline-block;
	margin:0 50px 0 450px;
}
imput.kensaku {
	margin:0;
	padding:0;
}
div.bigps {
	background-color:#f3d2c1;
	height:520px;
	width:1300px;
	margin:25px 0 0 0;
}
/*ピンクの枠*/
div.pink{
	clear:both;
	margin-top:18px;
	border: 15px solid #f3d2c1;
	width:575px;
	display:inline-block;
	margin:5px 10px;
}


/*submitボタン*/
table#submit{
	position: relative;
	top: 0px;
	left:418px;
	border-spacing:0,10;
}

/* 自己紹介文 */
textarea{
	width:250px;
	color: #001858;
  	padding: 0.5em;
  	border-bottom:1.5px solid #001858;
	font-size:14px;
	resize:none;
}

/* その他プロフィール */
input[name="name"],input[name="nickname"],input[name="birthplace"],
input[name="company"],input[name="birth"],input[name="school"]{
	width:250px;
	color: #001858;
  	padding: 0.5em;
  	border-bottom:1.5px solid #001858;
	border-right:none;
	border-left:none;
	border-top:none;
	border-radius:0px;
	font-size:14px;
}